.header-wrapper {
  background-image: url("../../images/colorido.jpeg");
  background-color: #1178a0;
  height: 83px;
  box-sizing: border-box;
  background-position-y: -309px;
  background-repeat-y: no-repeat;
  background-position-x: center;
  background-position-y: -309px;
  padding: 45px 30px 0;

  ul li {
    display: inline-block;
    vertical-align: bottom;

    a {
      font-size: 14px;
      line-height: 35px;
      color: #fff;
      text-transform: uppercase;
      font-family: Soleil, Helvetica, Arial, sans-serif;
      margin: 0 10px;
      display: inline-block;

      &:hover {
        text-decoration: underline;
      }
    }

    img {
      width: 110px;
    }
  }
}
